<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../assets/images/Logo.jpeg" alt="Logo Clínica" height="40">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="../pages/index.html">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="../pages/sede.html">Nuestra Sede</a></li>
                <li class="nav-item"><a class="nav-link" href="../pages/nosotros.html">Sobre Nosotros</a></li>
                <li class="nav-item"><a class="nav-link" href="../pages/servicios.html">Servicios</a></li>
                <li class="nav-item"><a class="nav-link" href="../pages/equipo.html">Nuestro Equipo</a></li>
                <li class="nav-item"><a class="nav-link" href="../pages/contacto.html">Contáctanos</a></li>
                <li class="nav-item"><a class="nav-link" href="../pages/tienda.html">Tienda</a></li>
            </ul>
        </div>
    </div>
</nav>
